<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Games</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

  <h1>GAMES</h1>
  <table>
    <th>ID</th>
    <th>Title</th>
    <th>Developer</th>
    <th>Genre</th>
    <th>Year of release</th>
    <tr th:each="game:${games}">
      <td th:text="${game.getId()}"></td>
      <td th:text="${game.getTitle()}"></td>
      <td th:text="${game.getDeveloper()}"></td>
      <td th:text="${game.getGenre()}"></td>
      <td th:text="${game.getYearOfRelease()}"></td>
    </tr>
  </table>

</body>
</html>